__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
*.ipynb

venv/
.venv/
env/
ENV/

.git/
.gitignore

catboost_info/
logs/
outputs/
output/
model_outputs_bundle*/
nilmini_outputs*/
nilmini_ml_api_fixed*/
*.zip
*.docx
*.xlsx
*.png
*.jpg
*.jpeg

.DS_Store
Thumbs.db